<html>

	<head>
		<title>Get Domain
		</title>
		
	</head>
		<script src="/javascript/jquery-1.8.2.min.js"></script>
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript">	

	var ourList = [];


	
	$(function () {
		for (var i= 0; i< ourList.length; i++ ){
			 var ourItem = ourList[i];
			 $("#container").append("<div class = 'listItem'>" + ourItem + "</div>"); // $("#container") is analogous to document.getElementById("container")
		 }

		$("#addButton").click(function(){
			 var textValue = $("#mytextbox").val();
			if (textValue.length==0){
				return;
			}
			
			$.post("http://localhost:4567/searchedDomain/", 
				{ domain: textValue }, //this javascript code makes the user input from the website into json
										//which here is shown as {domain: textValue}
				function(data) {
					console.log(data); 
					$('#Domains_table > tbody:last').append("<tr> <td>" + data.domain + "</td> <td>" + data.state + "</td> </tr>");
					
				},
				"json" // This json is a bunch of text formatted in a specific way coming
						//from the server to (data)
			);

			var newItem = $('<div>', { class: "listItem", text: textValue}); 
		
			newItem.click(function () {
				// If you want to do something when you click on the list, you put that code here;
			});

			$("#container").append(newItem); 
			$('#mytextbox').val(''); 
			// The line above clears the textbox
		});

		$("#mytextbox").keyup(function(event){ //This allows the new list item to be added to the list by pressing the Enter key
			if(event.keyCode == 13){
				$("#addButton").click();
			}
		});
	});
	</script>

	<style>

	div {
		padding: 20px;
	}

	h1, h4 {
		text-align: center;
	}
	
	.centered_div{
	  width: 280px;
 	 margin-left: auto;
 	 margin-right:  auto;
	}


	</style>

	<body>

		<h1>
			Get Domain
		</h1>
		<h4>
			Enter in a website and see if it is available! 
		</h4>
	
		<div class="centered_div">
			<input type="text" id="mytextbox" value="" /> 
			<input type="button" class="btn btn-info" id="addButton" value="Add" /> 
		</div>
	
		<table class="table table-bordered" id="Domains_table">
		      <thead> 
		         <tr>
		          	<th>Domain</th>
		          	<th>State</th>
		       	 </tr>
		      </thead>
		      
		      <tbody id="result">

		      </tbody>

		 </table>

	</body>

</html>

<!-- The Javascript is client code and is the front end. The Ruby hi.rb is the back end, it's the server code. The client has no idea what this is Ruby code. All the client knows that the client sent and received JSON from the server. -->